<tr>
  <td><%= book.name %></td>
  <td><%= image_tag book.display_image if book.image.attached? %></td>
  <td><%= book.description %></td>
  <td><%= number_to_currency(prices[book_iteration.index]) %></td>
  <td>
    <%= link_to edit_admin_book_path(book) do %>
      <label class="btn btn-warning">
        <i class="fa-solid fa-pen-to-square"></i>
      </label>
    <% end %>
    <%= link_to admin_book_path(book),method: :delete,
                                      data: {confirm: t("delete_book?")},
                                      remote: true,
                                      class: "book_delete" do %>
      <label class="btn btn-danger">
        <i class="fa-solid fa-trash-can"></i>
      </label>
    <% end %>
  </td>
</tr>
