<ul>
  <li>
    <%= t "customer_name" %>:
    <%= customer.user.name %>
  </li>
  <ul>
    <li>
      <%= t "receiver_name" %>:
      <%= customer.receiver %>
    </li>
    <li>
      <%= t "address" %>:
      <%= customer.address %>
    </li>
    <li>
      <%= t "phone" %>:
      <%= customer.phone %>
    </li>
  </ul>
</ul>
