<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        <%= t ".our_products" %>
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p1.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p2.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p3.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p4.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p5.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p6.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p7.png" %>
            <a href="" class="add_cart_btn">
              <span>
                <%= t ".add_to_cart" %>
              </span>
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Product Name
            </h5>
            <div class="product_info">
              <h5>
                <span>$</span> 300
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <%= image_tag "p8.png" %>
            <a href="" class="add_cart_btn">
              <span>
                  <%= t ".add_to_cart" %>
                </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Product Name
              </h5>
              <div class="product_info">
                <h5>
                  <span>$</span> 300
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <%= image_tag "p9.png" %>
              <a href="" class="add_cart_btn">
                <span>
                  <%= t ".add_to_cart" %>
                </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Product Name
              </h5>
              <div class="product_info">
                <h5>
                  <span>$</span> 300
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_box">
        <a href="" class="view_more-link">
          <%= t ".view_more" %>
        </a>
      </div>
    </div>
  </section>
