<% provide :title, t(".title") %>
<main class="p-container">
  <div class="p-left-column">
    <%= image_tag load_image(@product) %>
  </div>
  <div class="p-right-column">
    <div class="p-product-description">
      <span><%= @product.category_name %></span>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </div>
    <div class="p-product-configuration">
      <div class="p-cable-config">
        <p>
          <span><%= t ".publish_year" %></span>
          <%= @product.publish_year %>
        </p>
        <p>
          <span><%= t ".publisher" %></span>
          <%= @product.publisher_name %>
        </p>
        <p>
          <span><%= t ".author" %></span>
          <% if @product.authors.present? %>
            <%= @product.authors.map do |author|
              author.name
            end.join(", ") %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="p-product-price">
      <span><%= number_to_currency(@price) %></span>
      <%= form_for(Cart.new, url: carts_path) do |f| %>
        <%= f.number_field :quantity, value: 1, min: Settings.min_quantity, max: @product.book_details.first.quantity %>
        <%= f.number_field :book_id, value: @product.id, hidden: true %>
        <%= f.select :book_detail_id,
            options_for_select(option_selct_book_details(@product.book_details)),
                               selected: @product.book_details.first.id,
                               class: "form form-control",
                               id: "book_option" %>
        <%= f.submit t(".add_to_cart"), class: "p-cart-btn" %>
      <% end %>
      </a>
    </div>
  </div>
</main>
