<% provide :title, t(".title") %>
<main class="p-container">
  <div class="p-left-column">
    <%= image_tag load_image(@product) %>
  </div>
  <div class="p-right-column">
    <div class="p-product-description">
      <span><%= @product.category_name %></span>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </div>
    <div class="p-product-configuration">
      <div class="p-cable-config">
        <span><%= t ".options" %></span>
        <%= select_tag :book_id,
            options_for_select(option_selct_book_details(@book_details)),
                               selected: @book_details.first.id,
                               class: "form form-control",
                               id: "book_option" %>
        <p>
          <span><%= t ".publish_year" %></span>
          <%= @product.publish_year %>
        </p>
        <p>
          <span><%= t ".quantity" %></span>
          <span id="quantity_book">
            <%= @product.book_details.first.quantity %>
          </span>
        </p>
        <p>
          <span><%= t ".publisher" %></span>
          <%= @product.publisher_name %>
        </p>
        <p>
          <span><%= t ".author" %></span>
          <% if @product.authors.present? %>
            <%= @product.authors.map do |author|
              author.name
            end.join(", ") %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="p-product-price">
      <span><%= number_to_currency(@price) %></span>
      <a href="#" class="p-cart-btn">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <%= link_to ".add_to_cart", "cart_path" %>
      </a>
    </div>
  </div>
</main>
