<div class="hero_area">
  <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
         <%= link_to t(".bookstore"), home_pages_path, class: "navbar-brand" %>
          <%= form_tag(home_pages_path, method: :get, class: "search_form") do %>
            <%= text_field_tag :search, params[:search],
                                        class: "form-control",
                                        placeholder: t("search") %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
          <div class="user_option_box">
            <span><%= link_to t("vi"), locale: :vi %></span>
            <span><%= link_to t("en"), locale: :en %></span>
            <a href="" class="account-link">
              <span>
              <i class="fa fa-user" aria-hidden="true"></i>
                 <%= link_to t(".my_account"), login_path %>
              </span>
            </a>
            <a href="" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>
                <%= t ".cart" %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
