<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <%= link_to t("dashboard"), admin_root_path,
      class: "sidebar-brand d-flex align-items-center justify-content-center"
  %>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_orders_path, class: "nav-link collapsed" do %>
      <i class="fas fa-fw fa-cog"></i>
      <span><%= t ".orders" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_books_path, class: "nav-link collapsed" do %>
      <i class="fas fa-fw fa-folder"></i>
      <span><%= t ".products" %></span>
    <% end %>
  </li>
</ul>
