<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <%= link_to t("dashboard"), admin_root_path,
      class: "sidebar-brand d-flex align-items-center justify-content-center"
  %>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_orders_path, class: "nav-link collapsed" do %>
      <i class="fas fa-fw fa-cog"></i>
      <span><%= t ".orders" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_books_path, class: "nav-link collapsed" do %>
      <i class="fas fa-fw fa-folder"></i>
      <span><%= t ".products" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <div class = "nav-link collapsed">
      <i class="fa-solid fa-language"></i>
      <%= link_to t("vi"), locale: :vi, class: "vi_en_white" %> |
      <%= link_to t("en"), locale: :en %>
    </div>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to home_pages_path, class: "nav-link collapsed" do %>
      <i class="fa-solid fa-house"></i>
      <span><%= t ".bookstore" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to logout_path, method: :delete, class: "nav-link collapsed" do %>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span><%= t ".logout" %></span>
    <% end %>
  </li>
</ul>
