<div class="hero_area">
  <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
          <%= form_tag(home_pages_path, method: :get, class: "search_form") do %>
            <%= text_field_tag :search, params[:search],
                                        class: "form-control",
                                        placeholder: t("search") %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
          <div class="user_option_box">
            <span><%= link_to t("vi"), locale: :vi %></span>
            <span><%= link_to t("en"), locale: :en %></span>
            <% if logged_in? %>
              <a href="" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                 <%= link_to t(".logout"), logout_path %>
              </span>
            </a>
            <a href="" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>
                <%= link_to t(".cart"), carts_path %>
              </span>
            </a>
            <% else %>
              <span>
                 <%= link_to t(".login"), login_path %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <%= link_to t(".bookstore"), home_pages_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <%= link_to t("home"), home_pages_path, class: "nav-link" %>
              </li>
               <li class="nav-item">
                <%= link_to "admin", admin_books_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t(".admin"), admin_books_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>
